.counter {


	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 7rem;
	}

	&__Num {
		color: white;
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	&__Btn {
		padding: 0.5rem 1.7rem;
	}
}
