* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		160deg,
		rgba(2, 0, 36, 1),
		rgba(95, 7, 86, 1) 48%,
		rgba(121, 9, 100, 1) 72%
	);
}

h1,h2,p {
	color: white;
}

/* .effects {
	transition: 0.3s;
	cursor: pointer;

	&:focus {
		cursor: pointer;
	}

	&:hover {
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.9;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1);
	}
} */

.container {
	display: flex;
	justify-content: center;
	min-height: 20rem;
}

.active {
	color: tomato;
	cursor: pointer;
}

.Navbar {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	height: 5rem;
	margin: 1rem 7rem;
	border: .1rem solid black;
	box-shadow: 17px 10px 8px 0px rgba(0, 0, 0, 0.2);
}

.Navbar__list a {
	color: whitesmoke;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0 1.3rem;
	/* box-shadow: 8px 10px 0px -1px rgba(0, 0, 0, 0.2); */
	box-shadow: rgb(0 0 0 / 40%) 1rem 1rem .5rem;
}

.Navbar__list a:hover {
	cursor: pointer;
	border-bottom: 0.1rem solid white;
}
