* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	color: white;
}


.Navbar {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	height: 5rem;
	background: linear-gradient(160deg, rgba(2, 0, 36, 1), rgba(95, 7, 86, 1) 48%, rgba(121, 9, 100, 1) 72%);
}

.Navbar__list a {
	color: whitesmoke;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0 1.3rem;
	box-shadow: 8px 10px 0px -1px rgba(0, 0, 0, 0.2);
}

.Navbar__list a:hover {
	cursor: pointer;
	border-bottom: .2rem solid white;
}