h1,
h2,
h3,
p,
a {
	color: white;
}

body {
	background: linear-gradient(
		160deg,
		rgba(2, 0, 36, 1),
		rgba(95, 7, 86, 1) 48%,
		rgba(121, 9, 100, 1) 72%
	);
}


.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}