.title {
	font-family: PoiretOne;
	display: flex;
	justify-content: center;
}

.logic-props {
	padding: 1rem 0 1rem 0;
	cursor: pointer;
}

.text {
	font-family: PoiretOne;
	margin: 2rem 1rem;
}

hr {
	opacity: 0.5;
	margin: 0 3rem;
}